{% extends "base.html.twig" %}
{% block title %} Inicio {% endblock %}
{% block stylesheets %}
   {{ encore_entry_link_tags('app') }}
 <link href="{{ asset('Impact/assets/css/estilsInici.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
   <h1 id="titolInici">Projecte Symfony Equips 2n DAW</h1>
   <div class="caja1">
       <p id="paragrafInici">Inici programa gestió d'equips i membres del proyecte 2n DAW
       <br> IES LLuís Simarro <br> Curs 22/23 <br>
       <img class="imatgeInici" src=" {{ asset('Impact/assets/img/home.jpeg') }} " /></p>
   </div>
   <h1 id="titol_llista_equips">Llistat d'equips</h1>
   <div class="caja1">
       <div id="llista_equips">
       {% if equip %}
           {% for eq in equip %}
               <li> {{ eq.nom }} </li>
           {% endfor %}
       {% endif %}
       </p>
   </div>
{% endblock %}






