body {
    background-color: #DDD;
}

h1#titolInici {
    width: 50%;
    color: red;
    border: solid red 1px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}

p#paragrafInici {
    width: 80%;
    border: solid black 1px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #f2e7c3;
}

.imatgeInici {
    width: 400px;
    margin: 10px auto;
    display: block;
}

.encabezado {
    background-color: green;
}

.encabezado nav .titulo {
    color: white;
}

.encabezado nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.encabezado nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.encabezado nav ul a {
    text-decoration: none;
    font-size: 20px;
    padding: 15px 20px;
    color: white;
    display: block;
}

.encabezado nav ul a:hover {
    background-color: burlywood;
}

.encabezado nav ul li ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: green;
    display: none;
}

.encabezado nav ul li ul li {
    width: 200px;
    position: relative;
}

.encabezado nav ul li ul li ul {
    top: 0;
    left: 160px;
    position: absolute;
}

.encabezado nav ul li:hover>ul {
    display: block;
}

h2#titolSecundari {
    width: 50%;
    color: red;
    border: solid red 1px;
    margin: 30px auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}

h1#titol_llista_equips {
    width: 50%;
    color: blue;
    border: 1px solid black;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #f2e7c3;
}

div.caja1>#llista_equips {
    width: 80%;
    border: 1px solid black;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #f2e7c3;
}


#llista_equips {
    list-style: none;

}


#llista_equips li {
    border: 2px solid black;
    width: 50%;
    margin: auto;
    color: blue;
    background-color: aliceblue;
    padding: 1%;
    display: block;
    text-align: center;
}