body{
    background-color: red;
 }
 
 
 h1#titolInici{
    width: 50%;
    color: red;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: white;
    border: 2px solid red;
 }
 
 
 
 
 p#paragrafInici{
    width: 80%;
    border: 1px solid black;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #f2e7c3;
 }
 
 
 .imatgeInici{
    width: 400px;
    margin: 10px;
 }
 
 
 div#paragrafInici{
    width: 80%;
    border: 1px solid black;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    background-color: #f2e7c3;
 }
 
 
 div#paragrafInici li{
    list-style: none;
 }
 
 
 div#paragrafInici ul{
    margin: auto;
    width: 35%;
 }
 
 
 div#paragrafInici ul li{
    padding: 1%;
    border: 2px solid black;
    background-color: #f2db98;
 }
 
 
 div#paragrafInici ul li a{
    border: 2px solid black;
    background-color: lightgrey;
    display: block;
    width: 50%;
    padding: 1%;
    margin: auto;
    text-align: center;
 
 
 }
 
 
 p#no_trobat{
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: auto;
 }
 

 .encabezado {
    background-color: green;
}

.encabezado nav .titulo {
    color: white;
}

.encabezado nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.encabezado nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.encabezado nav ul a {
    text-decoration: none;
    font-size: 20px;
    padding: 15px 20px;
    color: white;
    display: block;
}

.encabezado nav ul a:hover {
    background-color: burlywood;
}

.encabezado nav ul li ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: green;
    display: none;
}

.encabezado nav ul li ul li {
    width: 200px;
    position: relative;
}

.encabezado nav ul li ul li ul {
    top: 0;
    left: 160px;
    position: absolute;
}

.encabezado nav ul li:hover > ul {
    display: block;
}

h2#titolSecundari {
    width: 50%;
    color: red;
    border: solid red 1px;
    margin: 30px auto;
    text-align: center;
    padding: 10px;
    background-color: white;
}

 
 
 
 
 
 
 
 
 